*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.intro-effect {
  display: none;
  opacity: 0;
}

.container p {
  font-size: 5rem;
  text-shadow: 1px 1px 10px blue;
}

.results {
  font-size: 3rem;
  transition: all 500ms ease-in;
}

.game-buttons {
  display: flex;
  justify-content: space-around;
  width: 60%;
  transition: all 500ms ease-out;
}

.game-buttons span {
  cursor: pointer;
  font-size: 8rem;
  border-radius: 15px;
  transition: all 500ms ease-in-out;
  animation-name: bright;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.game-buttons span:hover {
  transform: scale(1.05);
  transform: translateY(-20px);
  box-shadow: 2px 2px 15px 10px #ff9900;;
  cursor: pointer;
  animation: none;
}


@keyframes bright {
  0%   { box-shadow: 2px 2px 15px 3px #ff9900;}
  50%  { box-shadow: 2px 2px 15px 8px #ff9900;}
  100% { box-shadow: 2px 2px 15px 3px #ff9900;}
}